{% extends 'mylinks/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'mylinks/form.css' %}">

<div class="container p-5">
  <main class="form">
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group row">
          <label class="col-12 col-form-label" for="id_{{ field.name }}">{{ field.label }}</label>
          <div class="col-12">
            <input
              type="{{ field.field.widget.input_type }}"
              class="form-control"
              name="{{ field.name }}"
              id="id_{{ field.name }}"
              value="{{ field.value|default:'' }}"
          ></div>
          <div class="col-12 help-text">{{ field.help_text }} </div>
        </div>
        {% endfor %}
      
      <a class="text-decoration-none" href="{%url 'password_reset' %}">Ti-ai uitat parola?</a> 
      <button class="w-100 btn btn-lg btn-primary my-2" type="submit">Log in</button>
      

      {% if form.errors and not form.non_field_errors %}
        <p class="errornote">
        {% if form.errors.items|length == 1 %}
          Please correct the error below.
        {% else %}
          Please correct the errors below.
        {% endif %}
        </p>
      {% endif %}

      {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
          <p class="errornote">
              {{ error }}
          </p>
        {% endfor %}
      {% endif %}
    </form>
  </main>
</div>
{% endblock %}
