{% extends 'mylinks/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'user/user-form.css' %}">
<!--Password Reset Confirm-->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form method="POST" class="box-user">
                    <h4>Please enter a new password: </h4>
                    {% csrf_token %}
                    {{ form }}  
                    <input type="submit" value="Reseteaza parola" href="#">                  
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}