{% extends 'mylinks/base.html' %}
{%load static%}

{% block content %}
<html class="h-100">
  <body class="d-flex h-100 text-center text-white bg-dark">
  <link rel="stylesheet" type="text/css" href="{% static 'mylinks/index.css' %}">
    <div class="container p-5">
      <main class="px-3 align-content-center">
        <h1>The Only Link You’ll Ever Need</h1>
        <p class="lead">Connect audiences to all of your content with just one link</p>
        <p class="lead">A simple copy of linktree 😊</p>
      </main>
    </div>
  </body>
</html>
{% endblock %}